<!-- #contact -->
<div id="contact" class="wrap-container80 bg-color">

    <!-- .container -->
    <div class="container">

        <!-- .row -->
        <div class="row">


            <div class="col-md-6">
                <div class="post-heading-center">
                    <h4>Conduction blauw past bij jouw!</h4>
                    <h2 style="color: white">Ook werken of stage bij Conduction?</h2>
                    <p>Wij zijn altijd op zoek naar gedreven, originele vakfanaten, pioniers en creatievelingen (to be).
                        Voel je je aangesproken? Neem vooral contact met ons op! :) </p>

                </div>
            </div>

            <div class="col-md-6">
                <form action="/contact" method="post" class="affa-form-contact">
                    <div class="submit-status"></div> <!-- submit status -->
                    <input type="text" name="name" placeholder="Your Name"/>
                    <input type="text" name="email" placeholder="Email Address *"/>
                    <textarea name="message" placeholder="Message *"></textarea>
                    <button type="submit" name="submit" class=" btn-block btn-custom2" style="padding: unset;">
                        Join !
                    </button>
                </form>
            </div>

        </div>
        <!-- .row end -->

    </div>
    <!-- .container end -->

</div>
<!-- #contact end -->
